body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: default;
}

.xolta {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.heading {
    font-size: 27px;
    font-weight: bold;
}

.red {
    color: rgb(204, 78, 78);
}

.black {
    color: rgb(85, 65, 65);
}

.matn {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.opportunity {
    line-height: 1.22;
    font-weight: 600;
}

.paragrf {
    line-height: 1.23;

}

.site-center {
    box-shadow: 0 0 20px 0 black;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
}

.v1 {
    font-family: "Comic Relief", system-ui;
    font-weight: 600;
    font-style: normal;
}

img {
    height: 250px;
    object-fit: cover;
}

.site-footer {
    border-radius: 6px;
    margin: 20px 50px 20px 30px;
    padding: 3px;
    color: #fff;
    text-align: center;
    background-color: rgb(204, 78, 78);
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

a {
    color: white;
    text-decoration: none;
}

.v2 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 14px;
}




.site-paragrf {
    line-height: 1.3;
}

.birinchi-qism {
    margin-top: none;
}


.heading {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}